################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NotepadApp/NotepadApp/.vs/NotepadApp/v15
/NotepadApp/NotepadApp/NotepadApp/obj/Debug
/NotepadApp/NotepadApp/NotepadApp/bin/Debug
/WinForms/WinForms
/BSTtree
